@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

$color-light-white: #fff;
$color-light-blue: #376df6;
$color-light-navy: #292a3d;
$color-dark-blue: #2850af;
$color-darker-blue: #1a3980;
$color-dark-navy: #0a0a0f;
$color-dark-grey: #8f909e;
$shadow_on_navy: 0px 2px 2px $color-dark-navy, 0px 4px 18px $color-dark-navy;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $color-light-navy
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#drum-machine {
	width: clamp(420px, 50%, 720px);
	display: grid;
	justify-items: center;
	gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 1rem;
	box-shadow: $shadow_on_navy;
	border: 2px solid $color-dark-grey;
	border-radius: 5px;
}

#display {
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	font-size: 1.25rem;
	padding: 0.5rem 0;
	background-color: $color-light-blue;
	width: 12rem;
	text-align: center;
	color: $color-light-white;
	border-radius: 12px;
	border-right: 5px solid $color-dark-blue;
	border-bottom: 5px solid $color-dark-blue;
	margin-bottom: 1rem;
}

.drum-pad {
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
	border-radius: 12px;
	font-size: 1.625rem;
	width: 5rem;
	padding: 1rem 0;
	background-color: $color-light-blue;
	color: $color-light-white;
	border-radius: 12px;
	border-right: 5px solid $color-dark-blue;
	border-bottom: 5px solid $color-dark-blue;
	text-align: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	transition: background-color ease-in-out 0.5s, border-color ease-in-out 0.5s;
	will-change: background-color, border-color;

	&:before, &:after{
		position: absolute;
		content: '';
		display: block;
		width: 140%;
		height: 100%;
		left: -20%;
		z-index: -1000;
		transition: all ease-in-out 0.5s;
		background-repeat: no-repeat;
	}

	&:before{
		display: none;
		top: -75%;
		background-image:
		radial-gradient(circle, $color-light-blue 20%, transparent 20%),
		radial-gradient(circle,  transparent 20%, $color-light-blue 20%, transparent 30%),
		radial-gradient(circle, $color-light-blue 20%, transparent 20%),
		radial-gradient(circle, $color-light-blue 20%, transparent 20%),
		radial-gradient(circle, transparent 10%, $color-light-blue 15%, transparent 20%),
		radial-gradient(circle, $color-light-blue 20%, transparent 20%),
		radial-gradient(circle, $color-light-blue 20%, transparent 20%),
		radial-gradient(circle, $color-light-blue 20%, transparent 20%),
		radial-gradient(circle, $color-light-blue 20%, transparent 20%);
		background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
		/* background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%; */
	}

	&:after{
		display: none;
		bottom: -75%;
		background-image:
		radial-gradient(circle, $color-light-blue 20%, transparent 20%),
		radial-gradient(circle, $color-light-blue 20%, transparent 20%),
		radial-gradient(circle,  transparent 10%, $color-light-blue 15%, transparent 20%),
		radial-gradient(circle, $color-light-blue 20%, transparent 20%),
		radial-gradient(circle, $color-light-blue 20%, transparent 20%),
		radial-gradient(circle, $color-light-blue 20%, transparent 20%),
		radial-gradient(circle, $color-light-blue 20%, transparent 20%);
		background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
		/* background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%; */
	}

	&.animate {
		background-color: $color-dark-blue;
		border-color: $color-darker-blue;
		&:before {
			display: block;
			animation: topBubbles ease-in-out 0.75s forwards;
		}
		&:after {
			display: block;
			animation: bottomBubbles ease-in-out 0.75s forwards;
		}
	}
}

@keyframes topBubbles {
	0% {
		background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
	}
	50% {
		background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
	100% {
		background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
		background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
	}
}

@keyframes bottomBubbles {
	0% {
		background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
	}
	50% {
		background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
	100% {
		background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
		background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
	}
}
